@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Shopping Cart";
}
@section css
{
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

    <div id="content">

        <div id="cart-container" style="margin-bottom: 250px">
            <div id="cart-header">
                <h2 style="font-weight: bold">Your cart</h2>
            </div>

            <div class="product-container">

                <div id="item2">
                    <div class="right-content">
                        <div id="price">
                            <div class="price-item">
                                <div class="left">
                                    <p>Subtotal</p>
                                </div>

                                <div class="right">
                                    <p>$38.00</p>
                                </div>

                                <div class="left">
                                    <p>Shipping fee</p>
                                </div>

                                <div class="right">
                                    <p>$3.31</p>
                                </div>
                            </div>

                        </div>

                        <div class="promotion">
                            <form action="#">

                                <input type="text" name="email" placeholder="Enter your promotion code" />
                                <button>Apply</button>

                            </form>
                        </div>

                        <div class="total">
                            <div class="price-item">
                                <div class="left">
                                    <h4>Total</h4>
                                </div>

                                <div class="right">
                                    <h4>$41.31</h4>
                                </div>
                            </div>
                        </div>

                        <button type="button" name="button"> CHECKOUT</button>
                    </div>
                </div>

                <div class="wrap-product">
                    <div class="product">
                        <div class="cart-image">
                            <img src="images/men6.jpg" />
                        </div>

                        <div class="cart-caption">
                            <h3>Short sleeves: Strange Plannet - Greeting</h3>
                            <div class="detail">
                                <p>
                                    Size: <br>
                                    Color:
                                </p>
                            </div>
                        </div>

                        <div class="price-caption">
                            <p>$19.00</p>
                            <form action="#" method="post">
                                <label for="quantity">Quantity</label>
                                <input type="number" name="quantity" value="">
                            </form>
                        </div>

                        <div class="remove">
                            <button type="button" name="button"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>

                <div class="wrap-product">
                    <div class="product">
                        <div class="cart-image">
                            <img src="images/men7.jpg" />
                        </div>

                        <div class="cart-caption">
                            <h3>Short sleeves: Strange Plannet - Greeting</h3>
                            <div class="detail">
                                <p>
                                    Size: <br>
                                    Color:
                                </p>
                            </div>
                        </div>

                        <div class="price-caption">
                            <p>$19.00</p>
                            <form action="#" method="post">
                                <label for="quantity">Quantity</label>
                                <input type="number" name="quantity" value="">
                            </form>
                        </div>

                        <div class="remove">
                            <button type="button" name="button"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


