/*----------------------------------------------------------General*/
*, ::after, ::before {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  position: relative;
  padding-bottom: 20rem;
  text-align: center;
  color: #575757;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #ffd500;
}

button {
  border: none;
  outline: none;
  transition: transform .3s;
  cursor: pointer;
  color: #fff;
  background-color: #000;
}

input {
  border: none;
  outline: none;
  padding: 10px;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

ul {
  list-style-type: none;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

#content {
  max-width: 1450px;
  margin: 0 auto;
  padding: 16px;
}

/*----------------------------------------------------------Header*/
#logo {
  background: url(../images/background.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#logo img {
  max-width: 20%;
  max-height: 25%x ;
}

#navbar {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}

#navbar .nav-link {
  list-style: none;
  display: flex;
}

#navbar .nav-item > a {
  padding: 10px 20px;
}

#navbar ul li ul li {
  padding: 10px 0;
}

#navbar ul li ul li{
    display: none;
}

#navbar> ul >li:hover ul li{
    display: block;
}

#navbar ul li ul {
  margin-top: 10px;
  padding: 0 30px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 999;
  border-radius: 3px;
}


/*----------------------------Products in Home----------------------------*/
#product-container {
  max-width: 1200px;
  margin: 0 auto;
}

.product-container-1-col {
  display: grid;
  grid-template-columns: auto;
  height: 100px;
  position: relative;
  text-align: inherit;
}

.product-container-1-col::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #58585B;
  top: 50%;
  position: absolute;
  z-index: -1;
}

.product-container-1-col .block-head {
  font-size: 30px;
  text-align: center;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  top: 27%;
}

.product-container-1-col .block-head span {
  background-color: #fff;
  display: inline-block;
  padding: 0 10px;
}

.product-container-2-col {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
  padding: 20px;
}

.product-container-2-col .item-image img {
  max-width: 629px;
  max-height: 612px;
}

.product-container-3-col {
  margin: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px 10px;
  padding: 20px;
}

.product-container-3-col .item img {
  max-height: 460px;
  max-width: 364px;
}

.product-container-3-col .item .wrap-product-images {
  height: 410px;
  width: 344px;
  overflow: hidden;
  margin: 0 auto;
}

.product-container-3-col .item .product-images {
  height: 410px;
  width: 344px;
  transition: transform .5s ease;
}

.product-container-3-col .item .product-images:hover {
  transform: scale(1.5);
}

.product-container-3-col .item:hover {
  color: #ffd500;
}

.product-caption {
  margin-top: 20px;
}

.item .product-caption h3 {
  font-size: 20px;
  margin: 0;
}

.product-caption p {
  font-weight: bold;
  margin: 10px;
}

.product-container-4-col {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  margin: 20px 0;
}

.item-image-4-col {
  position: relative;
  margin: 0 auto;
}

.item-image-4-col img {
  display: block;
  max-width: 280px;
  max-height: 400px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.item-image-4-col img:last-child:not(:first-child) {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.item-image-4-col img:last-child:not(:first-child):hover {
  opacity: 1;
}




/*----------------------------Sign in/ Sign up----------------------------*/
#signin-container {
  display: grid;
}

#signin {
  background-image: url(../images/background.png);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5em 0;
}

#container {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  display: grid;
  grid-gap: 30px;
}

#signin-container input {
  font-size: 14px;
  padding: 10px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}

#signin-container button {
  padding: 15px;
  font-size: 16px;
  width: 200px;
  margin: 0 auto;
  border-radius: 30px;
}

#signin-container button:hover {
  background-color: #ffd500;
}

#signin-container .text-link {
  margin: 0 auto;
  font-size: 16px;
}


/*----------------------------Order Address----------------------------*/
#order-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

#order-content>.order-left:first-child {
  grid-column: span 2;
}

#order-content .wrap-order {
  border: 1px solid #575757;
  border-radius: 5px;
}

#order-content .order-header {
  font-size: 20px;
  padding: 10px 18px;
  background: #575757;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#order-content .order-header h5 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

#order-content .ship-infor {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  padding: 30px;
}

#order-content .order-container {
  padding: 25px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

#order-content input[type="text"], #order-content input[type="email"] {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin: 10px 0;
}

#order-content .contact-container {
  padding-bottom: 20px;
}

#order-content .ship-infor label {
  width: 100%;
  font-weight: bold;
}

#order-content .ship-infor .selection {
  outline: none;
  width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px;
  margin: 10px 0;
}

#order-content button {
  width: 100%;
  font-size: 18px;
  padding: 15px 0;
}

#order-content button:hover {
  background-color: #ffd500;
}

#order-content .right-content {
  max-width: 370px;
  margin: 0 auto;
  border: none;
}

/*----------------------------Total Cart Infor----------------------------*/
.right-content {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  border-left: 1px solid #cdcdcd;
  padding: 10px;
  height: 100%;
}

.right-content .price-item {
  display: grid;
  grid-template-columns: auto auto;
}

.right-content .price-item .left {
  text-align: left;
}

.right-content .price-item .right {
  text-align: right;
}

.right-content #price {
  border-bottom: 1px solid #cdcdcd;
  padding-top: 20px;
}

.total h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 10px 0;
}

/*----------------------------Cart with products----------------------------*/
#cart-header {
  width: 100%;
  padding: 30px 0;
  border-top: 1px solid #cdcdcd;
  font-size: 30px;
}

#cart-container .product-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-flow: dense;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

#cart-container #item2 {
  grid-column: 2/3;
  grid-row: 1/10;
  padding: 10px;
}

#cart-container .promotion input[type="text"] {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  max-width: 250px;
  font-size: 16px;
  padding: 10px;
}

#cart-container .promotion button {
  padding: 7px 15px;
  max-width: 80px;
  font-size: 16px;
  padding: 10px;
}

#cart-container .promotion {
  border-bottom: 1px solid #cdcdcd;
}

#cart-container .right-content button {
  outline: none;
  border: none;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
}

#cart-container .right-content button:hover, .grid-item button:hover {
  background-color: #ffd500;
}

#cart-container .wrap-product {
  padding: 20px;
}

#cart-container .product {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 0.2fr;
  grid-gap: 10px 0;
  border-bottom: 1px solid #cdcdcd;
  padding: 20px;
}

#cart-container .cart-image img {
  max-width: 124px;
  max-height: 220px;
}

#cart-container .cart-caption {
  text-align: left;
}

#cart-container .cart-caption h3 {
  font-size: 20px;
}

#cart-container .cart-caption p {
  font-size: 15px;
}

#cart-container .price-caption p {
  text-align: right;
  font-weight: bold;
  font-size: 18px;
}

#cart-container .price-caption label {
  padding-right: 5px;
}

#cart-container .price-caption input[type="number"] {
  width: 60px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
}

#cart-container .remove button {
  padding: 0;
  padding-left: 30px;
  height: 100%;
  color: #575757;
  background-color: inherit;
}

#cart-container .remove button:hover {
  opacity: 0.5;
}

/*----------------------------Empty Cart----------------------------*/
#eptcart button {
  background-color: #fff;
  color: #000;
  padding: 30px 50px;
  margin-bottom: 50px;
  font-size: 20px;
  transition: transform 1.0s;
}

#eptcart button:hover {
  border: 2px solid #000;
  border-radius: 5px;
}



/*----------------------------Account infor----------------------------*/
#account-manage {
  margin: 0 auto;
  max-width: 1100px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
}

#account-manage > .account-content:last-child {
  grid-column: span 2;
}

#account-manage .left {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: left;
}

#account-manage .sidebar {
  padding-bottom: 20px;
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
}

#account-manage .left li a {
  display: block;
  padding: 15px 25px;
  color: #000;
}

#account-manage .left li a.active {
  background-color: #ffd500;
  color: #fff;
}

#account-manage .left li a:hover:not(.active) {
  background-color: #ffd500;
  color: #fff;
}

#account-manage .account-content {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

#account-manage #acc-cont {
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-row-gap: 20px;
}

#account-manage form {
  margin: 40px;
}

.label {
  padding: 15px;
  text-align: left;
}

#account-manage #changepwd {
  grid-column: 1/3;
  background: none;
  padding: 10px;
  font-size: 16px;
}

#account-manage #changepwd a:hover {
  color: #ffd500;
}

#account-manage input {
  border-bottom: 1px solid #cdcdcd;
  padding: 10px 0;
  font-size: 16px;
  width: 100%;
  position: relative;
}

#account-manage button {
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  grid-column: 1/3;
}

#account-manage button:hover {
  background-color: #ffd500;
}

#account-manage input[type="date"]::-webkit-calendar-picker-indicator {
  color: #575757;
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

/*----------------------------------------------------------Footer*/
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #e8e8e8;
  overflow: hidden;
}

#footer h3 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

#footer .footerOut {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

#footer .cal-item {
  padding: 2px 0;
  font-size: 16px;
  font-weight: lighter;
}

#footer .footer-right {}

#footer .footer-icons {
  margin-top: 20px;
}

#footer .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 30px;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

#footer .footer-bottom {
  padding: 5px;
  background-color: #575757;
  display: block;
  color: #fff;
  font-size: 16px;
}

#footer .footer-bottom p {
  margin: 5px 0;
}

#footer button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

#footer button:hover {
  background-color: #ffd500;
}

#footer input[type="text"] {
  width: 280px;
  font-size: 12px;
}
